@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  ::selection {
    background-color: rgba(241, 144, 50, 0.3);
    color: white;
  }

  /* Scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #1a191d;
  }
  ::-webkit-scrollbar-thumb {
    background: #4e4c54;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #625f6a;
  }
}

@layer components {
  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
